body {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden; /* Sembunyikan scrollbar */
    scroll-behavior: smooth;
  }
  
  .container {
    background-color: #0C0E12;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory; /* Tambahkan properti ini */
    overflow-y: scroll;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #0C0E12;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .logo {
    margin-left: 15px;
    margin-top: -16.3px;
    width: 22.5px;
    height: 22.5px;
  }
  
  .appName {
    font-weight: 650;
    font-size: 19.6px;
    margin-left: 10px;
    margin-top: -14.7px;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .navbarSection {
    margin-right: 289px;
    font-size: 14.2px;
    font-weight: 450;
    margin-top: -2px;
  }
  
  .nav a {
    margin: 0 11.7px; /* Adjust the value to increase or decrease the spacing */
    color: #B6B7B8;
    text-decoration: none;
    transition: color 0.3s, font-weight 0.3s;
  }
  
  .nav a.active {
    font-weight: 555; /* Make font bolder */
    color: white; /* Change color for active link */
  }
  
  .languageSection {
    display: flex;
    align-items: center;
    margin-top: -0px;
    margin-right: 31px;
    font-size: 12.3px;
    font-weight: 470;
    color: #B6B7B8;
  }
  
  .languageSection img {
    margin-top: -1px;
    margin-right: 4.5px;
    height: 18px;
    width: 18px;
  }
  
  .arrowLanguage {
    margin-left: 4.5px;
    width: 10px !important; /* Atur ukuran sesuai kebutuhan */
    height: 10px !important; /* Atur ukuran sesuai kebutuhan */
  }
  
  .loginButton {
    background-color: #23272F;
    padding: 7.4px 21px;
    border-radius: 7px;
    margin-top: -3px;
    color: white;
    cursor: pointer;
    font-size: 14.5px;
    font-weight: 450;
  }
  
  .registerButton {
    background-color: #0056FF;
    padding: 7.4px 21px;
    border-radius: 7px;
    margin-top: -3px;
    margin-left: 8px;
    margin-right: 17px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
  }
  
  .mainContent {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    flex-grow: 1;
    overflow: hidden; /* Sembunyikan scrollbar */
  }
  
  .textSection h1 {
    font-size: 32px;
    font-weight: 660;
    margin-bottom: 20px;
    margin-top: -23px;
    margin-left: 49px;
    max-width: 60%;
  }
  
  .textSection p {
    margin-bottom: 23px;
    font-size: 12.5px;
    font-weight: 418;
    margin-left: 49px;
    max-width: 65%;
    text-align: left;
    line-height: 1.7;
    color: #CFCFD0;
  }
  
  .primaryButton {
    background-color: #0056FF;
    font-size: 13.5px;
    font-weight: 520;
    margin-left: 49px;
    color: white;
    padding: 9.5px 21px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  
  .supportedBy {
    display: flex;
    align-items: left;
    margin-top: 20px;
  }
  
  .didukungOleh {
    color: white;
    font-size: 13.5px;
    font-weight: 410;
    margin-left: 22px;
    margin-top: 11px;
  }
  
  .supportedBy img {
    margin-left: 5.5px;
    margin-top: 16px;
    width: 13px;
    height: 13px;
  }
  
  .videoSection {
    position: relative;
    max-width: 640px;
    height: auto;
  }

  .video {
    position: absolute;
    margin-top: -242px;
    margin-left: 17px;
    max-width: 640px;
    height: auto;
    object-fit: cover;
    opacity: 1s ease-in-out;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(8%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .fadeOut {
    animation: fadeOut 1s forwards;
  }
  
  .fadeIn {
    animation: fadeInRight 1s forwards;
  }
  
  .logoFrame {
    width: 550px; /* Lebar frame dipendekkan */
    height: 55px;
    margin-top: 45px;
    margin-left: 50px;
    overflow: hidden;
    border-top: 2px solid #1A1B1F;
    border-bottom: 2px solid #1A1B1F;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logosContainer {
    display: flex;
    width: fit-content;
    animation: scroll 100s linear infinite;
    margin-top: -3px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .logoItem {
    display: flex;
    align-items: center;
    margin-right: 0px;
  }
  
  .logoItem img {
    max-width: none; /* Max-height gambar diperbesar */
    height: 87%;
    image-rendering: auto; /* Optimalkan rendering gambar */
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  }
  
  .section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.6s ease-in-out;
    scroll-snap-align: start;
  }
  
  .layanan {
    position: relative;
    text-align: center;
    background-color: #0C0E12;
    color: white;
    margin-left: -564px;
    justify-content: center;
  }
  
  .title {
    font-size: 32px;
    font-weight: 660;
    margin-bottom: 8px;
    margin-top: -22px;
  }
  
  .deskripsiLayanan {
    font-size: 14px;
    font-weight: 480;
    margin-bottom: 28px;
    color: #CFCFD0;
  }
  
  .viewAllButton {
    display: inline-flex;
    position: center;
    align-items: center;
    background-color: white;
    color: #0C0E12;
    font-weight: 622;
    padding: 9px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 13.3px;
    margin-bottom: 63px;
  }
  
  .viewAllButton img {
    margin-left: 4px;
    width: 13px;
    height: 13px;
    margin-top: 1px;
    color: black;
  }
  
  .servicesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
  }
  
  .scrollIcon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .boxFrame {
    display: flex;
    overflow: hidden;
    width: calc(362.3px * 3); /* Lebar frame untuk 3 box */
  }
  
  .boxContainer {
    display: flex;
    transition: transform 0.6s ease;
    width: calc(100% * 6);
  }
  
  .serviceBox {
    width: 320px;
    height: auto;
    flex: 0 0 auto;
    margin: 0 8px;
    transition: background-image 0.3s ease-in-out;
  }

  .serviceBox:hover {
    cursor: pointer;
  }

  .serviceBox.active {
    background-size: cover;
    background-position: center;
  }

  ::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.keunggulan {
  position: relative;
  text-align: center;
  background-color: #0C0E12;
  color: white;
  margin-left: -1548px;
  justify-content: center;
}

.berbagai {
  font-size: 14.2px;
  font-weight: 610;
  color: #3B7DFF;
  margin-top: -23px;
}

.judul {
  font-size: 32px;
  font-weight: 650;
  margin-top: -2px;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 350px;
  width: 1965px;
  position: relative;
  justify-content: center;
}

.imageContainer {
  display: flex;
  animation: scroll 110s linear infinite;
  align-items: center;
}

.imageContainer.top {
  animation-name: scrollLeftToRight;
  margin-top: 35px;
  margin-bottom: 13px;
}

.imageContainer.bottom {
  animation-name: scrollRightToLeft;
}

.imageItem {
  display: flex;
  align-items: center;
  margin: 0 7px;
}

.imageItem img {
  max-width: none; /* Max-height gambar diperbesar */
  height: 142px;
  image-rendering: auto; /* Optimalkan rendering gambar */
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

@keyframes scrollLeftToRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}

@keyframes scrollRightToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.panduan {
  position: relative;
  text-align: center;
  background-color: #0C0E12;
  color: white;
  justify-content: center;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #1D1F25;
  border-radius: 10px;
  height: 427px;
  width: 1100px;
  margin-top: 130px;
}

.background {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-top: 0px;
  margin-left: 0px;
}

.backgroundImage {
  width: auto;
  height: 426px;
}

.guideImageWrapper {
  position: absolute;
}

.guideImage {
  width: 488px;
  height: auto;
}

.cursorAnimation {
  position: absolute;
  top: 52%;
  left: 24%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.guides {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 70px;
}

.judulPanduan {
  font-size: 25px;
  font-weight: 670;
  margin-right: 222px;
  margin-top: -47px;
}

.guide {
  background-color: #33353A;
  padding: 11px;
  border-radius: 7px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  width: 500px;
  margin-left: 12px;
  margin-bottom: 5px;
}

.guideHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.arrowIcon {
  width: 20px;
  height: 20px;
}

.description {
  margin-top: 10px;
  border: 1px solid #858689;
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 7px;
  width: 450px;
  margin-top: 25px;
  margin-left: 15px;
  text-align: left;
}

.kontak {
  position: relative;
  text-align: center;
  background-color: #0C0E12;
  color: white;
  justify-content: center;
}

.section5Content {
  display: flex;
  justify-content: space-between;
  margin-top: 413px;
}

.contactInfo {
  background-color: #1D1F25;
  border-radius: 10px;
  margin-right: 20px;
  flex: 1;
  width: 610px;
  height: 325px;
  margin-left: 57px;
  margin-top: 13px;
}

.contactInfo h2 {
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 580;
  margin-right: 326px;
  margin-top: 17px;
}

.contactForm h2 {
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 580;
  margin-right: 350px;
}

.contactInfo p {
  margin-bottom: 20px;
  font-size: 12.5px;
  font-weight: 450;
  margin-top: 5px;
  text-align: left;
  margin-left: 24px;
  color: #BBBBBD;
  line-height: 19.5px;
}

.contactForm p {
  margin-bottom: 20px;
  font-size: 12px;
  margin-top: 30px;
}

.contactBox1 {
  display: flex;
  flex-direction: column;
  width: 222px;
  height: 62px;
  margin-left: 24px;
  margin-top: 27px;
}

.contactBox2 {
  display: flex;
  flex-direction: column;
  width: 274px;
  height: 62px;
  margin-left: 260px;
  margin-top: -72px;
}

.contactBox3 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 500px;
  height: 40px;
}

.contactItem {
  display: flex;
  align-items: center;
  background-color: #2A2D34;
  border-radius: 7px;
}

.email {
  margin-left: 7px;
  cursor: pointer;
  width: 40px;
  height: auto;
}

.telepon {
  margin-left: 7px;
  cursor: pointer;
  width: 40px;
  height: auto;
}

.alamat {
  margin-right: 10px;
  cursor: pointer;
  width: 40px;
  height: auto;
}

.copyIcon {
  margin-right: 10px;
  cursor: pointer;
  width: 20px;
  height: auto;
}

.contactItem div {
  flex: 1;
}

.contactForm {
  flex: 1;
  margin-left: 20px;
}

.input, .textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  background-color: #1D1F25;
  color: #FFFFFF;
}

.textarea {
  height: 100px;
  resize: none;
}

.button {
  padding: 10px;
  background-color: #007BFF;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #323336;
  margin-top: 200px;
}

.footerText {
  color: #B6B7B8;
}

.socialIcons img {
  margin-left: 10px;
  cursor: pointer;
}