/* LoginPopUp.module.css */

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background: #2C2C35;
  padding: 20px;
  border-radius: 15px;
  width: 445px;
  height: 533px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.logo {
  display: block;
  margin: 0 auto 20px;
  width: 40px;
  height: 40px;
}

.closeButton {
  position: absolute;
  top: 17px;
  right: 20px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.popupContent h2 {
  text-align: center;
  color: #ffffff;
  font-size: 23.3px;
  font-weight: 540;
  margin-top: -5px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: #ffffff;
  margin-bottom: 5px;
  margin-top: 18px;
  margin-left: 15px;
  font-size: 13.3px;
  font-weight: 400;
}

.inputField {
  width: calc(100% - 26px);
  height: 40px;
  padding: 10px;
  margin-bottom: -4px;
  margin-left: 15px;
  margin-top: 1px;
  border-radius: 7px;
  border: 1px solid #56565D;
  background-color: #2C2C35;
  font-size: 12.6px;
  font-weight: 410;
  transition: border-color 0.3s ease;
}

.inputField:focus {
  border-color: #1a73e8;
}

.passwordContainer {
  position: relative;
}

.passwordToggle {
  position: absolute;
  right: 25px;
  top: 22px;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  cursor: pointer;
}

.primaryButton {
  background: #0056FF;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 4px;
  margin-left: 15px;
  width: calc(100% - 26px);
  height: 40px;
  font-size: 13.5px;
  font-weight: 500;
}

.googleButton {
  background: #2C2C35;
  color: white;
  border: 1px solid #56565D;
  padding: 10px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 13px;
  margin-left: 15px;
  width: calc(100% - 26px);
  height: 40px;
  font-size: 13.5px;
  font-weight: 480;
}

.googleButton img {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}

.rememberMe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 10px;
  font-size: 12px;
}

.ingatkanSaya {
  color: white;
  font-size: 12.5px;
  font-weight: 400;
}

.lupaPassword {
  color: #3B7DFF;
  font-size: 12.5px;
  font-weight: 510;
  margin-right: 10px;
}

.privacyText {
  color: #BFBFC2;
  text-align: left;
  font-size: 12px;
  margin-top: 12px;
  margin-left: 17px;
  font-size: 10.7px;
  font-weight: 440;
  line-height: 15px;
}

.privacyText a {
  font-weight: 500;
  color: white;
}

.belumpunyaAkun {
  margin-left: 110px;
  color: white;
  font-size: 12.5px;
  margin-top: 34px;
}

.daftarKlik {
  color: #3B7DFF;
  font-size: 12.5px;
  font-weight: 600;
  margin-left: 2px;
  cursor: pointer;
}