body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  background-image: url('./image/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.logoContainer {
  position: absolute;
  top: 20px;
  left: 78px;
  display: flex;
  align-items: center;
  color: white;
}

.logo {
  width: 20px; /* Adjust size as needed */
  margin-top: 11px;
  margin-right: 9px;
}

.appName {
  font-weight: 700; /* Make the app name bold */
  font-size: 1.02rem; /* Match the font size of the carousel title */
  margin-top: 12px;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white;
  padding: 2rem;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 13px;
  color: white;
  position: relative;
  padding-top: 3rem; /* Adjust this value to move the carousel down or up */
}

.right h2 {
  font-size: 1.5rem; /* Smaller font size */
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: 700;
}

.right p {
  font-size: 0.875rem; /* Smaller font size */
  font-weight: 500;
  text-align: center;
  max-width: 500px;
  color: #A0A0A4;
}

/* Styles for carousel indicators */
.indicators {
  display: flex;
  justify-content: center;
  margin-top: 1.3rem;
}

.indicator,
.activeIndicator {
  width: 7.2px; /* Width for indicators */
  height: 7.2px; /* Height for indicators */
  border-radius: 50%;
  background-color: #474141;
  margin: 0 5px; /* Adjust margin as needed */
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.activeIndicator {
  background-color: #FB1616; /* Color for active indicator */
  transform: scale(1.4); /* Scale the active indicator to make it bigger */
}

.popup {
  position: fixed;
  top: 80px; /* Adjust top position to move the popup down */
  left: 50%;
  transform: translateX(-50%);
  background-color: #FB1616; /* Popup background color */
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  text-align: center;
}

.popupText {
  font-size: 1rem;
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.labelnama {
  margin-bottom: 0.5rem;
  margin-top: 20px;
  margin-left: 45px;
  font-size: 0.85rem;
  font-weight: 450;
  color: white;
}

.labelemail {
  margin-bottom: 0.5rem;
  margin-left: 45px;
  font-size: 0.85rem;
  font-weight: 450;
  color: white;
}

.labelpassword {
  margin-bottom: 0.5rem;
  margin-top: 0px;
  margin-left: 45px;
  font-size: 0.85rem;
  font-weight: 450;
  color: white;
}

.labeltelpon {
  margin-bottom: 0.5rem;
  margin-left: 45px;
  font-size: 0.85rem;
  font-weight: 450;
  color: white;
}

.buat {
  font-weight: 650; /* Make the app name bold */
  font-size: 1.4rem;
  margin-left: 45px;
  margin-top: 46px;
}

.input {
  padding: 0.5rem;
  margin-bottom: 0.85rem;
  margin-left: 45px;
  border: 1px solid #313444;
  border-radius: 5px;
  background-color: #26293A;
  color: white;
  font-size: 0.85rem;
  width: 465px;
}

.passwordContainer {
  position: relative;
  width: 465px; /* Pastikan container memiliki lebar tetap yang sama dengan input */
}

.passwordContainer .input {
  width: 100%; /* Gunakan lebar 100% untuk mengisi container */
  padding-right: 3rem; /* Ruang untuk ikon mata */
}

.togglePassword {
  position: absolute;
  top: 37%; /* Posisikan di tengah secara vertikal */
  right: 0; /* Posisikan di kanan tanpa jarak */
  transform: translate(165%, -50%); /* Pindahkan ikon lebih ke kanan */
  cursor: pointer;
}

.togglePassword img {
  width: 20px;
  height: 20px;
}

.registerButton {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #FB1616;
  color: white;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 500;
  margin-left: 45px;
  width: 465px;
}

.akun {
  color: #FFFFFF;
  font-size: 0.8rem;
  margin-top: 20px;
  font-weight: 420;
  margin-right: 50px;
}

.loginLink {
  color: #FF6161;
  font-weight: 500;
}